@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al sistema de compra y venta de autos</h1>
    <img src="https://www.lanacion.com.ar/resizer/v2/bugatti-chiron-super-sport-uno-de-los-autos-mas-PEELQ7TKSFF2BNHXAOQW3XTWFA.jpg?auth=39b28a11081e66df94c5a666bee032f6251d1b807d358d4d5dda718efb8f7d2f&width=880&height=586&quality=70&smart=true" alt="Auto">
</div>
